<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_controller</servlet-name>
        <servlet-class>com.buyherdrink.controller.login_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup_controller</servlet-name>
        <servlet-class>com.buyherdrink.controller.signup_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isUserLoggedIn</servlet-name>
        <servlet-class>com.buyherdrink.utility.isUserLoggedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_controller</servlet-name>
        <servlet-class>com.buyherdrink.controller.logout_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_recent_ten_drink_request_controller</servlet-name>
        <servlet-class>com.buyherdrink.controller.get_recent_ten_drink_request_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_recent_ten_drink_offers_controller</servlet-name>
        <servlet-class>com.buyherdrink.controller.get_recent_ten_drink_offers_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post_drink_request_controller</servlet-name>
        <servlet-class>com.buyherdrink.controller.post_drink_request_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_recent_ten_dinner_dates</servlet-name>
        <servlet-class>com.buyherdrink.controller.get_recent_ten_dinner_dates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_highest_bidder</servlet-name>
        <servlet-class>com.buyherdrink.controller.get_highest_bidder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_controller</servlet-name>
        <url-pattern>/login_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup_controller</servlet-name>
        <url-pattern>/signup_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isUserLoggedIn</servlet-name>
        <url-pattern>/isUserLoggedIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_controller</servlet-name>
        <url-pattern>/logout_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_recent_ten_drink_request_controller</servlet-name>
        <url-pattern>/get_recent_ten_drink_request_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_recent_ten_drink_offers_controller</servlet-name>
        <url-pattern>/get_recent_ten_drink_offers_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post_drink_request_controller</servlet-name>
        <url-pattern>/post_drink_request_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_recent_ten_dinner_dates</servlet-name>
        <url-pattern>/get_recent_ten_dinner_dates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_highest_bidder</servlet-name>
        <url-pattern>/get_highest_bidder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
