/* html, body css compatible for page loader
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}*/

*{
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-size: 19px;
}
a{
    text-decoration: none;
}
input[type="text"], select{
    border-radius: 0;
}

html {
  box-sizing: border-box;
}

body{
    max-width: 700px;
    margin: auto;
    height: 100%;
    width: 100%;
    
}
span, p, option{
    font-size: 16px;
}
#loadingPage{
    position: fixed;
    z-index: 1111;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

*, *::after, *::before {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.loader_container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.loader {
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2px;
  width: 100px;
  height: 100px;
}
.loader > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: tomato;
  transform: scale(0);
  transform-origin: center center;
  animation: loader 2s infinite linear;
}
.loader > div:nth-of-type(1), .loader > div:nth-of-type(5), .loader > div:nth-of-type(9) {
  animation-delay: 0.4s;
}
.loader > div:nth-of-type(4), .loader > div:nth-of-type(8) {
  animation-delay: 0.2s;
}
.loader > div:nth-of-type(2), .loader > div:nth-of-type(6) {
  animation-delay: 0.6s;
}
.loader > div:nth-of-type(3) {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


.Container{
    width: 100%;
}
.wrapper{
}
.Header{
    max-width: 700px;
    margin:auto;
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #98b3ff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    width: 100%;
}
.Main{
    padding-top: 60px;
}
.Footer{
    background-color: royalblue;
    width: 100%;
    text-align: right;
    padding: 10px 0;
}
.MenuIcon{
    margin-top: -25px;
    position: relative;
}
/*#firstMenuIconBar{
    border-top: 3px solid black; 
    display: block; 
    margin-bottom: 5px;
    position: absolute;
    z-index: 102;
    
}
#firstMenuIconBar::before{
    content: '';
}
#secondMenuIconBar{
    border-top: 3px solid black; 
    display: block; 
    margin-bottom: 5px;
    position: absolute;
}
#secondMenuIconBar::before{
    content: '';
    width: 100%;
}
#thirdMenuIconBar{
    border-top: 3px solid black; 
    display: block;
    position: absolute;
}
#thirdMenuIconBar::before{
    content: '';
}
*/

#nav-toggle { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
}

#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 5px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.LogoDiv{
    width: 60px;
}
.PageTitle{
    margin-left: 60px;
    font-size: 17px;
    text-align: center;
    font-weight: bolder;
}
.ProfileDetailsDiv{
    /*border-bottom: 1px solid #cacaca;
    height: calc(100vh - 450px);*/
    width: 100%;
    position: relative;
}
.ProfileCover{
    padding-top: 50px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-image: url("../Pictures/ProfilePicPlaceHolder.jpg");
    background-position: center;
}
.ProfilePicture{
    border-radius: 100%;
    border: 3px solid pink;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 5px;
    background-color: darkgrey;
    overflow: hidden;
    /*background-size: cover;
    object-fit: cover;
   background-position: center;*/
}
.ProfilePicture img{
    width: 100px;
    height: auto;
}
.UserProfileSettingsIcons{
    text-align: right;
    padding: 5px;
    padding-bottom: 0;
    max-width: calc(100% - 140px);
    float: right;
    background-color: black;
    opacity: 0.9;
    margin-top: 14px;
}
.UserProfileSettingsIcons img{
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 3px;
}

.ProfileDetailsInfoDiv{
    width: 200px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ProfileDetailsInfoDiv p{
    font-size: 15px;
}
.MainMenu{
    max-width: 700px;
    margin: auto;
    position: fixed;
    z-index: 101;
    top: 55px;
    /*height:calc(100% - 79px);*/
    height: 100vh;
    width: 100%;
    /*background-color: beige;*/
    background-color: #ffffff;
    color: darkblue;
    display: none;
}
.MainMenu table{
    margin: 10px;
    width: calc(100% - 20px);
}
.status_text{
    font-weight: bolder;
    color: darkblue;
    text-align: center;
    margin: 5px;
}
.SearchDiv{
    padding: 5px;
    /*background-color: cornflowerblue;*/
    background-color: #ffffff;
    border-bottom: 1px solid #D9DADC;
}
.MainSearchFld{
    font-size: 16px;
    border: 0;
    width: calc(100% - 170px);
    /*float: left;*/
    background: none;
    height: 31px;
}
#main_search_types{
    width: 100px;
    font-size: 16px;
    text-align: right;
    margin-left: 5px;
}
.MainSearchBtn{
    display: none;
    padding-top: 3px;
    text-align: center;
    background-color: aqua;
    width: 40px;
    float: right;
}
.MainSearchBtn img{
    width: 23px;
    height: 23px;
}
.MainMenu table tbody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}

.MainMenu table tbody tr td img{
    width: 30px;
    height: auto;
    padding-right: 10px;
}

.MainMenu .SettingName{
    /*border-bottom: #D9DADC 1px solid;*/
}

.ActivitiesAndDrinkOffersBtn {
    cursor: pointer;
    /*position: absolute;
    bottom: 5px;
    left: 0;*/
    width: 100%;
    margin-bottom: 5px;
}
.ActivitiesAndDrinkOffersBtn table{
    width: 100%;
    border-spacing: 5px 0;
}
.ActivitiesAndDrinkOffersBtn #YourActivitiesBtn{
    text-align: center;
    font-size: 15px;
    width: 50%;
    border-radius: 5px;
    background-color: pink;
}
.ActivitiesAndDrinkOffersBtn #viewDrinkOffersBtn{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    width: 50%;
    border-radius: 5px;
    background-color: aquamarine;
}

.PublishDrinkFieldSet input[type="text"], select{
    border: 0;
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 15px;
    color: darkgrey;
    
}
.PublishDrinkFieldSet fieldset{
    padding: 5px;
}

#PDR_details_pane{
    min-height: 200px;
}

.UserProfilePageSubmitDrinkRequestBtn{
    text-align: center;
    font-size: 15px;
    width: 95%;
    border-radius: 5px;
    background-color: pink;
    padding: 5px;
    text-align: center;
    margin: auto;
}

.DrinkRequestDiv, .DrinkOffersDiv{
    height: auto;
    width: 100%;
}

#current_restaurants_list li{
    padding: 10px 5px;
    /*border-bottom: 1px solid cadetblue;*/
}

.RequesteeCoverPhoto, .OffererCoverPhoto{
    padding-top: 50px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-image: url("../Pictures/TestPhotos/1.jpg");
}
.RequesteePicture, .OffererPicture{
    border-radius: 100%;
    border: 3px solid white;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    background-color: darkgrey;
    overflow: hidden;
}

.RequesteePicture img, .OffererPicture img{
    width: 100px;
    height: auto;
}

.RequesteeInfoDiv, .OffererInfoDiv{
    float: right;
    width: 60%;
    padding: 4px;
}
.RegularIcons{
    width: 15px;
    height: 15px;
}
.RegularIcons_2{
    width: 20px;
    height: 20px;
}
.RegularIcons_3{
    width: 25px;
    height: 25px;
}
.RegularIcons_4{
    width: 30px;
    height: 30px;
}
.RegularIcons_5{
    width: 35px;
    height: 35px;
}
.RequesteeInfoDiv p, .OffererInfoDiv p{
    font-size: 14px;
}
.RequesteeOnlineStatusLed, .OffererOnlineStatusLed{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    border: 2px solid white;
}
.RequesteeOnlineStatusLedFromList, .OfferersOnlineStatusLedFromList{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    float: right;
    border: 2px solid white;
}
.RequesteeOnlineStatusText, .OffererOnlineStatusText{
    margin-right: 14px;
    margin-top: 30px;
    float: right;
    width: 30px;
    color: white;
    font-size: 14px;
}
.RequesteeAdditionalMessage, .OffererAdditionalMessage{
    font-size: 14px;
    min-height: 120px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    text-align: justify;
}

.ViewRequesteeFullProfileAndMakeOfferBtns, .ViewOffererFullProfileAndMakeOfferBtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ViewOffererFullProfileAndMakeOfferBtns div, .ViewRequesteeFullProfileAndMakeOfferBtns div{
    width: 48%;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 5px;
}
.DrinkRequesteesListDiv, .DrinkOfferersListDiv{
    left: 0;
    bottom: 15px;
    height: auto;
    overflow-x: auto;
}
.DrinkRequesteesListDiv table, .DrinkOfferersListDiv table{
    border-spacing: 6px;
    min-width: 200px;
    overflow-x: auto;
}
.DrinkRequesteesListDiv table tbody tr td div, .DrinkOfferersListDiv table tbody tr td div{
    border-top: 1px solid white;
    float: right;
    /*margin-top: 110px;*/
    width: 160px;
    padding: 3px;
    background-color: black;
    opacity: 0.8;
    margin-right: -3px;
}
.DrinkRequesteesListDiv table tbody tr td div p, .DrinkOfferersListDiv table tbody tr td div p{
    color: white;
    font-size: 14px;
}
.DrinkRequesteesListDiv table tbody tr td, .DrinkOfferersListDiv table tbody tr td{
    background-size: cover;
    min-width: 250px;
    height: 150px;
    padding: 3px;
    box-shadow: 4px 3px 3px #cacaca;
}

.DrinkRequesteesListDiv table tbody tr td img, .DrinkOfferersListDiv table tbody tr td img{
    width: 100px;
    height: auto;
}

.DrinkRequesteesListDiv table tbody tr .RequesteeListCoverPhoto, .DrinkOfferersListDiv table tbody tr .OfferesListCoverPhoto{
    background-image: url("../Pictures/TestPhotos/1.jpg");
}

.DrinkRequesteesListDiv table tbody tr #RequesteeListCoverPhoto2, .DrinkOfferersListDiv table tbody tr #OfferesListCoverPhoto2{
    background-image: url("../Pictures/TestPhotos/2.jpg");
}
.DrinkRequesteesListDiv table tbody tr #RequesteeListCoverPhoto3, .DrinkOfferersListDiv table tbody tr #OfferesListCoverPhoto3{
    background-image: url("../Pictures/TestPhotos/3.jpg");
}
.DrinkRequesteesListDiv table tbody tr #RequesteeListCoverPhoto4, .DrinkOfferersListDiv table tbody tr #OfferesListCoverPhoto4{
    background-image: url("../Pictures/TestPhotos/4.jpg");
}



.RequesteesProfileFromList, .OfferersProfileFromList{
    border-radius: 100% !important;
    width: 100px !important;
    height: 100px !important;
    float: left !important;
    border: 3px solid white !important;
    opacity: 1 !important;
    overflow: hidden !important;
    margin: 0 !important;
    border-spacing: 0 !important;
    padding: 0 !important;
}
#DrinkRequestsIframe{
    display: none;
    min-height: 600px;
}
#DrinkOffersIframe{
    display: none;
    min-height: 600px;
}

input[type=checkbox] {
    position: relative;
    appearance: none; outline: none;
    width: 20px; height: 10px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
}

input[type=checkbox]:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 8.5px; height: 8.5px;
    background-color: transparent;
    border: 1px solid darkgrey;
    background-color: white;
    border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input[type=checkbox]:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}

input[type=checkbox]:checked:after {
    left: 10px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.05);
}

input[type=radio]{
    position: relative;
    appearance: none; outline: none;
    width: 10px; height: 10px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
}

input[type=radio]:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}

#ExploreRestaurantsDiv, #viewFullProfileDiv, #settingsDiv, #notificationsDiv, #galleryDiv, #UserActivityDiv, #YourDrinkRequestsDiv{
    display: none;
}
#ExploreRestaurantsDiv table{
    border-spacing: 15px;
    height: 100%;
    width: 100%;
}

#viewFullProfileDiv{
    position: fixed;
    top: 100px;
    background-color: #afe9ff;
    z-index: 1000;
    width: 100%;
    height: 500px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 0;
    box-shadow: 0 0 4px black;
}

#settingsDiv table{
    width: 100%;
    min-height: 100px;
}
#settingsDiv table tbody tr td{
    width: 100%;
    padding: 5px;
}
#settingsDiv #profilePic{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
#settingsDiv input[type="text"], select{
    margin-left: 20px;
    border: 0;
    background: none;
    font-size: 20px;
}

#ExploreRestaurantsDiv table tbody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    height: 110px;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(-45deg, #98b3ff, #98d7ff);
    text-align: center;
    box-shadow: #ccc 3px 3px 3px;
}
#dinner_dates_header, #your_drink_requests_header{
    position: fixed; 
    padding: 5px;
    width: 100%;
    background-color: black;
    padding-bottom: 15px;
    border-bottom: #4ED164 1px solid;
}
#your_drink_requests_header{
    background-color: #afe9ff;
    border-bottom: #98d7ff 1px solid;
}
#SearchResultDiv{
    padding: 5px;
    display: none;
}
#SearchResultDiv #map_div{
    min-height: 300px; 
    background-color: #D9DADC;
}
#SearchResultDiv #search_results_list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#search_results_list .each_search_result_item{
    background-color: #afe9ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#dates_list_container{
    /*border-top: 1px #D9DADC solid;*/
    margin-top: 85px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.each_date_details_div{
    width: 100%;
    border-radius: 5px;
    min-height: 150px;
    margin-bottom: 5px;
    background-color: #333333;
}
#customizeOfferBtn, #mainMakeOfferBtn{
    cursor: pointer;
    padding: 10px 0;
}
#acceptOfferBtn{
    background-color: deepskyblue;
    cursor: pointer;
    color: white;
    padding: 10px 0;
}

#declineOfferBtn{
    background-color: red; 
    color: white;
    cursor: pointer;
    padding: 10px 0;
}
#drink_request_comments_div{
    display: none;
    padding: 5px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #D9DADC;
}
#drink_request_comments_fld{
    width: 100%;
    padding: 5px;
}
.PublishRequestDiv input[type="text"], select{
    font-size: 16px;
    padding: 4px 0;
    background: none;
    color: black;
    border: 0;
    width: 100%;
}
.PublishRequestDiv select{
    margin-left: 0;
    width: 200px;
}
.PublishRequestDiv table{
    background-color: #d4f3ff;
    width: 100%;
    border-spacing: 0;
}
.PublishRequestDiv table tr td{
    padding: 5px 0;
}

.status_1{
    color: red;
    font-size: 11px;
    text-align: center;
}
.notificationCounter{
    background-color: red;
    color: white;
    border-radius: 100%;
    font-size: 13px;
    text-align: center;
    margin-left: -15px;
    padding: 0 4px;
    padding-top: 1px;
}
#notificationsDiv, #galleryDiv, #UserActivityDiv, #YourDrinkRequestsDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 1100;
    background-color: rgba(0,0,0,0.9);
    color: white;
}

#YourDrinkRequestsDiv, #notificationsDiv{
    background-color: white !important;
    color: black !important;
}
#YourDrinkRequestsListDiv, .each_your_drink_request_div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.each_your_drink_request_div{
    padding: 10px 0;
    background-color: lightcyan;
    border-radius: 10px;
    margin-bottom: 5px;
}
.your_drink_request_delete_btn, .your_drink_request_update_btn{
    padding: 10px 0;
    width: 40%;
    background-color: red;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-align: center;
}
.your_drink_request_update_btn{
    background-color: #4ED164;
}
.RestaurantListPopup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.RestaurantListPopup .RestaurantListDiv {
  font-size: 15px;
  visibility: hidden;
  width: 160px;
  background-color: #afe9ff;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 4px black;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 112%;
  /*left: 50%;
  margin-left: -80px;*/
}

/* Popup arrow 
.RestaurantListPopup .RestaurantListDiv::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class - hide and show the popup */
.RestaurantListPopup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.postpone_dinner_date_form, .cancel_dinner_date_form, .delete_drink_request_form{
    display: none;
    padding-bottom: 10px;
}
.postpone_dinner_date_fld, .postpone_dinner_time_fld{
    width: 145px;
    padding: 5px;
    border: none;
    border-radius: 5px !important;
}
.postpone_dinner_date_btns, .cancel_dinner_date_btns, .delete_drink_request_btns{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.update_dinner_date_btn, .cancel_update_dinner_date_btn, ._cancel_dinner_date_no_btn, .cancel_dinner_date_yes_btn, .delete_drink_request_yes_btn, .delete_drink_request_no_btn{
    border-radius: 5px;
    background-color: #4ED164;
    color: white;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    width: 80px;
}
.cancel_update_dinner_date_btn, .cancel_dinner_date_yes_btn, .delete_drink_request_yes_btn{
    background-color: crimson;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}