*{
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-size: 19px;
}
input[type="text"], select{
    border-radius: 0;
}

body{
    position: fixed;
    height: 100%;
    width: 100%;
}
.Container{
    width: 100%;
}
.wrapper{
}
.Header{
    position: relative;
    background-color: pink;
    padding: 10px;
    width: 95%;
}
.Main{
    
}
.Footer{
    background-color: red;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
}
.MenuIcon{
    margin-top: 10px;
    float: left;
    position: relative;
}
/*#firstMenuIconBar{
    border-top: 3px solid black; 
    display: block; 
    margin-bottom: 5px;
    position: absolute;
    z-index: 102;
    
}
#firstMenuIconBar::before{
    content: '';
}
#secondMenuIconBar{
    border-top: 3px solid black; 
    display: block; 
    margin-bottom: 5px;
    position: absolute;
}
#secondMenuIconBar::before{
    content: '';
    width: 100%;
}
#thirdMenuIconBar{
    border-top: 3px solid black; 
    display: block;
    position: absolute;
}
#thirdMenuIconBar::before{
    content: '';
}
*/

#nav-toggle { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
}

#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.LogoDiv{
    width: 40px; 
    height: 40px; 
    float: right; 
    background-color: white;
}
.PageTitle{
    width: calc(100% - 70px); 
    float: right;
    padding-top: 10px;
    text-align: center;
    font-weight: bolder;
}
.ProfileDetailsDiv{
    border-bottom: 1px solid #cacaca;
    height: calc(100vh - 450px);
    width: 100%;
    position: relative;
}
.ProfileCover{
    padding-top: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url("../Pictures/ProfilePicPlaceHolder.jpg");
}
.ProfilePicture{
    border-radius: 100%;
    border: 3px solid pink;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 5px;
    background-color: darkgrey;
    background-size: cover;
    background-position: center;
}
.UserProfileSettingsIcons{
    text-align: right;
    padding: 5px;
    padding-bottom: 0;
    max-width: calc(100% - 140px);
    float: right;
    background-color: black;
    opacity: 0.7;
    margin-top: 14px;
}
.UserProfileSettingsIcons img{
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.ProfileDetailsInfoDiv{
    width: calc(100% - 145px);
    float: right;
    margin-top: 20px;
}
.ProfileDetailsInfoDiv p{
    font-size: 15px;
}
.MainMenu{
    padding: 10px;
    position: fixed;
    z-index: 101;
    top: 60px;
    height:calc(100% - 79px);
    width: 300px;
    /*background-color: beige;*/
    background-color: black;
    color: white;
    display: none;
    opacity: 0.9;
}
.SearchDiv{
    padding: 5px;
    background-color: cornflowerblue;
}
.MainSearchFld{
    border: 0;
    width: calc(100% - 40px);
    float: left;
    height: 31px;
}
.MainSearchBtn{
    padding-top: 3px;
    text-align: center;
    background-color: aqua;
    width: 40px;
    float: right;
}
.MainSearchBtn img{
    width: 23px;
    height: 23px;
}
.MainMenu table tbody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}

.MainMenu table tbody tr td img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.MainMenu .SettingName{
    border-bottom: 1px solid white;
}

.EditProfileBottons {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.EditProfileBottons table{
    width: 100%;
    border-spacing: 5px 0;
}
.EditProfileBottons #EditProfileBtn{
    text-align: center;
    font-size: 15px;
    width: 50%;
    border-radius: 5px;
    background-color: pink;
}
.EditProfileBottons #viewDrinkOffersBtn{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    width: 50%;
    border-radius: 5px;
    background-color: aquamarine;
}

.PublishDrinkFieldSet input[type="text"], select{
    border: 0;
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 15px;
    color: darkgrey;
    
}
.PublishDrinkFieldSet fieldset{
    padding: 5px;
}

.UserProfilePageSubmitDrinkRequestBtn{
    text-align: center;
    font-size: 15px;
    width: 95%;
    border-radius: 5px;
    background-color: pink;
    padding: 5px;
}

.DrinkRequestDiv{
    height: calc(100vh - 100px);
    width: 100%;
}

.RequesteeCoverPhoto{
    padding-top: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url("../Pictures/ProfilePicPlaceHolder.jpg");
}
.RequesteePicture{
    border-radius: 100%;
    border: 3px solid white;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    background-color: darkgrey;
    object-fit: cover;
}

.RequesteeInfoDiv{
    float: right;
    width: 60%;
    padding: 4px;
}
.RegularIcons{
    width: 15px;
    height: 15px;
}
.RequesteeInfoDiv p{
    font-size: 14px;
}
.RequesteeOnlineStatusLed{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    border: 2px solid white;
}
.RequesteeOnlineStatusLedFromList{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    float: right;
    border: 2px solid white;
}
.RequesteeOnlineStatusText{
    margin-right: 14px;
    margin-top: 30px;
    float: right;
    width: 30px;
    color: white;
    font-size: 14px;
}
.RequesteeAdditionalMessage{
    font-size: 14px;
    height: 120px;
    border-top: 1px #cacaca solid;
    border-bottom: 1px #cacaca solid;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    text-align: justify;
}

.ViewRequesteeFullProfileAndMakeOfferBtns{
    width: 100%;
}

.ViewRequesteeFullProfileAndMakeOfferBtns tbody tr td{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}
.DrinkRequesteesListDiv{
    left: 0;
    bottom: 15px;
    height: 200px;
    overflow-x: auto;
}
.DrinkRequesteesListDiv table{
    border-spacing: 6px;
    min-width: 200px;
    overflow-x: auto;
}
.DrinkRequesteesListDiv table tbody tr td div{
    border-top: 1px solid white;
    float: right;
    /*margin-top: 110px;*/
    width: 160px;
    padding: 3px;
    background-color: black;
    opacity: 0.8;
    margin-right: -3px;
}
.DrinkRequesteesListDiv table tbody tr td div p{
    color: white;
    font-size: 14px;
}
.DrinkRequesteesListDiv table tbody tr td{
    background-image: url("../Pictures/ProfilePicPlaceHolder.jpg");
    background-size: cover;
    min-width: 250px;
    height: 150px;
    padding: 3px;
    box-shadow: 4px 3px 3px #cacaca;
}
.RequestessProfileFromList{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    float: left;
    border: 2px solid white;
}
#DrinkRequestsIframe{
    display: none;
}
#DrinkOffersIframe{
    display: none;
}

input[type=checkbox] {
    position: relative;
    appearance: none; outline: none;
    width: 20px; height: 10px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
}

input[type=checkbox]:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 6.5px; height: 6.5px;
    background-color: transparent;
    border: 1px solid darkgrey;
    background-color: white;
    border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input[type=checkbox]:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}

input[type=checkbox]:checked:after {
    left: 10px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.05);
}

input[type=radio]{
    position: relative;
    appearance: none; outline: none;
    width: 10px; height: 10px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
}

input[type=radio]:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}