<!DOCTYPE html>
<html>
<title>Edit User Details!</title>
<body>
    <div>
        <p>
            System test. Non-production!
        </p>
    </div>
    <form action="/edituser" method="POST">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value="{{ data['username'] }}" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="New Password" name="password"  value="{{ data['password'] }}"required>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="New Name" name="name"  value="{{ data['name'] }}"required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="New Email" name="name"  value="{{ data['email'] }}"required>

        <label for="age"><b>Age</b></label>
        <input type="number" placeholder="New Age" name="age"  value="{{ data['age'] }}"required>

        <label for="phone"><b>Phone Number</b></label>
        <input type="text" placeholder="New Name" name="phone"  value="{{ data['phone'] }}"required>

        <label for="sex_orientation"><b>Sexual Orientation</b></label>
        <input type="text" placeholder="Sexual Orientation" name="sex_orientation"  value="{{ data['sex_orientation'] }}"required>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="New Address" name="address"  value="{{ data['address'] }}"required>
 
        <label for="interests"><b>Interests</b></label>
        <input type="text" placeholder="New Interests" name="interests"  value="{{ data['interests'] }}"required>

        <button type="submit">Update Credentials</button>
    
    </form>

</form>
</body>
</html>

