***Working on register and Signup modules***

**client provided data fields during sign up
1. full Name -> DB type (char(reasonable length))
2. gender -> DB values (Male, Female)
3. email -> DB type (char(reasonable length))
4. phone -> DB type (int)
5. age -> DB type (int)
6. sexual orientation -> DB values (striaght, gey, bi, prefer not to say)
7. address -> a string of format "260 Manning Blvd, Albany New York,  USA 12206"
           -> should be parsed on backend to get different address parts
           -> street, town, city, country, zipcode

user table should contain these fields
that should be collected after signup to complete
profile data

8. interests -> DB values (Male, Female, Both)
9. 4 fields to store 4 user pictures

**After signup the following object format can be
returned
{
    "status": "success",
    "token_id": "jwt_token_here",
    "refresh_id: "jwt_refresh_id_here",
    "user_id": "user_id_generated_after_signup",
    "user_name": "user_full_name_here",
    "age": "user_age_here",
    ""area": "user address here"
}

